<div th:fragment="statistic-chart">
    <br/>
    <div class="container">
        <div class="row">
            <div class="col"><h1>이용 통계</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-title"><h3>DAU</h3></div>
                    <div class="card-body">
                        <canvas id="dau" height="100"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-title"><h3>가입자</h3></div>
                    <div class="card-body">
                        <canvas id="signUpUser" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col"><h1>퍼널</h1></div>
        </div>
        <div class="row">
            <div class="col input-group">
                <label>
                    <input
                            id="funnel_date_start"
                            type="date"
                            name="funnel_date_start"
                            style="margin-right: 10px; padding-left: 10px; padding-right: 10px; font-weight: bold; max-height: 34px;"/>
                </label>
                <strong>~</strong>
                <label>
                    <input
                            id="funnel_date_end"
                            type="date"
                            name="funnel_date_end"
                            style="margin-left: 10px; margin-right: 10px; padding-left: 10px; padding-right: 10px; font-weight: bold; max-height: 34px;"/>
                    <script>
                        const formatDate = (date) => `${date.getFullYear()}-${('0' + (date.getMonth() + 1)).slice(-2)}-${('0' + date.getDate()).slice(-2)}`
                        const search = new URLSearchParams(window.location.search);
                        const startDateParam = search.get('funnel_date_start');
                        const endDateParam = search.get('funnel_date_end');
                        document.getElementById('funnel_date_start').value = startDateParam ? formatDate(new Date(Number(startDateParam))) : formatDate(new Date());
                        document.getElementById('funnel_date_end').value = endDateParam ? formatDate(new Date(Number(endDateParam))) : formatDate(new Date());
                    </script>
                </label>
                <button class="btn btn-primary" onclick="
                    const funnelStartDate = document.getElementById('funnel_date_start').value;
                    const funnelEndDate = document.getElementById('funnel_date_end').value;
                    if (!funnelStartDate || !funnelEndDate || funnelStartDate.length === 0 || funnelEndDate.length === 0) {
                        alert('퍼널 설정 날짜를 확인하세요');
                    } else {
                        window.location.href=`/admin/statistic?funnel_start_date=${Date.parse(fun)}&funnel_end_date=${Date.parse(funnelEndDate)}`;
                    }
                ">이 날짜의 퍼널 데이터 조회
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-title"><h3>기능별 퍼널</h3></div>
                    <div class="card-body">
                        <canvas id="feature_funnel" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <!-- chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script th:inline="javascript">
        function drawLineChart(type, context, title, period, data) {
            return new Chart(context, {
                type: type,
                data: {
                    labels: period,
                    datasets: [
                        {
                            label: title,
                            data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                            ],
                            borderWidth: 1.5,
                        },
                    ],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
            });
        }

        drawLineChart('line', document.getElementById('dau'), '활성 사용자 수', [[${period}]], [[${dau}]]);
        drawLineChart('line', document.getElementById('signUpUser'), '신규 가입자 수', [[${period}]], [[${signUpUser}]]);
        drawLineChart('bar', document.getElementById('feature_funnel'), '기능별 유니크 이용자 수', [[${funnel_label}]], [[${funnel_data}]]);
    </script>
</div>
